{
    "presets": ["es2015"],
    "plugins": [
        "add-module-exports",
        "transform-es2015-modules-amd",
        ["transform-es2015-classes", {"loose": true}],
        ["transform-es2015-spread", {"loose": true}]
    ],
    "sourceRoot": "./",
}
